.coul{

    padding: 0 0 100PX 0;
  

}

nav{
    position: sticky;
    width: 100%;
    background-color: black;
    
}

.titre{
    color: white;
    padding: 20px 0 0 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.acceuil{
    color: white;
    padding-left: 20px ;
    word-spacing: 20rem;
}

.joueurs{
    color:white ;
    padding-left: 300px;
}

.propos{
    color: white;
    padding-left: 300px;
}




.club{
    color: white ;
    padding-left: 350px;
}


.centrer{
    margin:0 0 0 300px ;

   

}
img{
    height: 300px;
    margin: 0 0 0 350px;
}


body{
    background-image: radial-gradient(ellipse at 100% 100%, blue,white);
}

hr{
    border: black 5px solid;
    margin: 0 0 60PX 0;
}


.univers{
    color: yellow;
}
